{% extends 'base/base.html' %}

{% block block_content %}
<form method="POST">
    {% csrf_token %} 
    {% include 'base/alert.html' %} 
    {% for form in device_feedback_form %}
    <div class="form-group">{{form}}</div>
    {% endfor %}

    <div class="my-3">{{Payment_Form.as_p}}</div>

    <!-- form-group form-check .// -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        Make Process
      </button>
    </div>
    <!-- form-group// -->
  </form>

{% endblock block_content %}


